<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/cover.css">
        <title>Cook Roulette</title>
        <style>
            body {
                background-image: url("/static/img/zucchini_fritter.JPG");
                background-size: cover;
                -webkit-background-size: cover;
                -moz-background-size: cover;
            }

            div.inner.cover img {
                width: 150px;
            }
        </style>
    </head>
    <body>


    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
              <img src="/static/img/Julia_Child_at_KUHT.jpg">
              <h1 class="cover-heading">Coook.</h1>
            <p class="lead">Randomize your cooking.
            <p class="lead">
            <a href="/whee" class="btn btn-lg btn-default">What's for dinner?</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
                <p>Playing with things.</p>
            </div>
          </div>

        </div>

      </div>

    </div>


<!--
        <h1>Melons when you want them.</h1>
        <h2><a href="/melons">Shop now.</a></h2>
-->
    </body>
</html>
